[Globals]
; Optimized sesman.ini for xrdp 0.10.x / KDE Plasma 6
; Context7: ListenAddress is no longer used in v0.10
; Context7: ListenPort now expects a socket path
ListenPort=sesman.socket
EnableUserWindowManager=true
UserWindowManager=startwm.sh
DefaultWindowManager=startwm.sh

[Security]
AllowRootLogin={{ vps_xrdp_allow_root | default('false') }}
MaxLoginRetry={{ vps_xrdp_max_login_retry | default(4) }}
TerminalServerUsers={{ vps_xrdp_ts_users | default('tsusers') }}
TerminalServerAdmins={{ vps_xrdp_ts_admins | default('tsadmins') }}
AlwaysGroupCheck=false

[Sessions]
X11DisplayOffset={{ vps_xrdp_x11_display_offset | default(10) }}
MaxSessions={{ vps_xrdp_max_sessions | default(50) }}
KillDisconnected={{ vps_xrdp_kill_disconnected | default('false') }}
IdleTimeLimit={{ vps_xrdp_idle_timeout | default(0) }}
DisconnectedTimeLimit={{ vps_xrdp_disconnected_timeout | default(0) }}
Policy={{ vps_xrdp_session_policy | default('Separate') }}

[Logging]
LogFile=xrdp-sesman.log
LogLevel={{ vps_xrdp_sesman_log_level | default('INFO') }}
EnableSyslog=true
SyslogLevel={{ vps_xrdp_sesman_syslog_level | default('INFO') }}

[Xorg]
param=Xorg
param=-config
param=xrdp/xorg.conf
param=-noreset
param=-nolisten
param=tcp
param=-logfile
param=.xorgxrdp.%s.log
