[Globals]
; xrdp.ini - Optimized for Debian 13 (Trixie) & KDE Plasma 6
; Sources: Context7 (neutrinolabs/xrdp wiki), GitHub issues, Google best practices
; Version: xrdp 0.10.x

address={{ vps_xrdp_listen_address | default('0.0.0.0') }}
port={{ vps_xrdp_port }}
fork=true

; --- Performance Tuning ---
tcp_nodelay=true
tcp_keepalive=true
tcp_send_buffer_bytes={{ vps_xrdp_tcp_send_buffer | default(4194304) }}
tcp_recv_buffer_bytes={{ vps_xrdp_tcp_recv_buffer | default(4194304) }}
use_fastpath=both

; --- Security ---
security_layer={{ vps_xrdp_security_layer | default('tls') }}
crypt_level={{ vps_xrdp_encryption }}
certificate=/etc/xrdp/cert.pem
key_file=/etc/xrdp/key.pem
ssl_protocols={{ vps_xrdp_ssl_protocols | default('TLSv1.2, TLSv1.3') }}

; --- Graphics & Codec ---
bitmap_cache=true
bitmap_compression=true
bulk_compression=true
max_bpp={{ vps_xrdp_color_depth }}
new_cursors=true
allow_channels=true
allow_multimon=true

; RemoteFX codec for superior image quality & compression
enable_remotefx_codec=true
enable_bitmap_updates=true

[Logging]
LogFile=xrdp.log
LogLevel={{ vps_xrdp_log_level | default('INFO') }}
EnableSyslog=true
SyslogLevel={{ vps_xrdp_syslog_level | default('INFO') }}

[Channels]
rdpdr=true
rdpsnd=true
drdynvc=true
cliprdr=true
rail=true
xrdpvr=true
tcutils=true

[Xorg]
name=Xorg
lib=libxup.so
username=ask
password=ask
port=-1
code=20
