---
- name: Install KDE power tools
  ansible.builtin.apt:
    name:
      - kde-config-gtk-style
      - kde-config-gtk-style-preview
      - kde-config-sddm
      - kinfocenter
      - partitionmanager
      - ksystemlog
    state: present
  when: vps_install_desktop | default(true)
  tags: [kde-opt, tools]

- name: Check if Krohnkite is installed
  ansible.builtin.stat:
    path: "/home/{{ vps_username }}/.local/share/kwin/scripts/krohnkite"
  register: krohnkite_dir
  when: vps_install_desktop | default(true)
  tags: [kde-opt, tiling]

- name: Download Krohnkite KWin Script (KDE 6 Compatible)
  ansible.builtin.get_url:
    url: "https://github.com/anametologin/krohnkite/releases/download/0.9.9.2/krohnkite.kwinscript"
    dest: "/tmp/krohnkite.kwinscript"
    mode: '0644'
  when: (vps_install_desktop | default(true)) and (not krohnkite_dir.stat.exists)
  tags: [kde-opt, tiling]

- name: Install Krohnkite KWin Script
  ansible.builtin.command:
    cmd: "kpackagetool6 -t KWin/Script -i /tmp/krohnkite.kwinscript"
  become: true
  become_user: "{{ vps_username }}"
  when: (vps_install_desktop | default(true)) and (not krohnkite_dir.stat.exists)
  changed_when: true
  tags: [kde-opt, tiling]

- name: Cleanup Krohnkite Installer
  ansible.builtin.file:
    path: "/tmp/krohnkite.kwinscript"
    state: absent
  when: (vps_install_desktop | default(true)) and (not krohnkite_dir.stat.exists)
  tags: [kde-opt, tiling]

- name: Deploy Captured KDE Configuration
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ vps_username }}/.config/{{ item }}"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  loop:
    - kdeglobals
    - kwinrc
    - kglobalshortcutsrc
    - kcminputrc
    - plasmashellrc
    - breezerc
  notify: Reconfigure KWin
  tags: [kde-opt, config]

- name: Ensure GTK3 config directory exists
  ansible.builtin.file:
    path: "/home/{{ vps_username }}/.config/gtk-3.0"
    state: directory
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0755'
  tags: [kde-opt, gtk]

- name: Deploy GTK3 Settings
  ansible.builtin.template:
    src: gtk3-settings.ini.j2
    dest: "/home/{{ vps_username }}/.config/gtk-3.0/settings.ini"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  tags: [kde-opt, gtk]

- name: Ensure GTK4 config directory exists
  ansible.builtin.file:
    path: "/home/{{ vps_username }}/.config/gtk-4.0"
    state: directory
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0755'
  tags: [kde-opt, gtk]

- name: Deploy GTK4 Settings
  ansible.builtin.template:
    src: gtk4-settings.ini.j2
    dest: "/home/{{ vps_username }}/.config/gtk-4.0/settings.ini"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  tags: [kde-opt, gtk]

- name: Deploy GTK2 Settings
  ansible.builtin.template:
    src: gtkrc-2.0.j2
    dest: "/home/{{ vps_username }}/.gtkrc-2.0"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  tags: [kde-opt, gtk]

- name: Ensure xsettingsd config directory exists
  ansible.builtin.file:
    path: "/home/{{ vps_username }}/.config/xsettingsd"
    state: directory
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0755'
  tags: [kde-opt, gtk]

- name: Deploy xsettingsd configuration
  ansible.builtin.template:
    src: xsettingsd.conf.j2
    dest: "/home/{{ vps_username }}/.config/xsettingsd/xsettingsd.conf"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  notify: Restart xsettingsd
  tags: [kde-opt, gtk]

- name: Trigger GTK Config Reload (DBus)
  ansible.builtin.command:
    cmd: "su - {{ vps_username }} -c 'qdbus6 org.kde.kded6 /kded org.kde.kded6.loadModule gtkconfig || true'"
  when: vps_install_desktop | default(true)
  changed_when: false
  failed_when: false
  tags: [kde-opt, gtk, trigger]

- name: Find Firefox profiles
  ansible.builtin.find:
    paths: "/home/{{ vps_username }}/.mozilla/firefox"
    patterns: "*.default*"
    file_type: directory
  register: firefox_profiles
  failed_when: false
  tags: [kde-opt, firefox]

- name: Deploy Firefox dark mode preferences
  ansible.builtin.template:
    src: firefox-user.js.j2
    dest: "{{ item.path }}/user.js"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  loop: "{{ firefox_profiles.files | default([]) }}"
  when: firefox_profiles.matched | default(0) > 0
  tags: [kde-opt, firefox]

- name: Configure Dolphin (General)
  community.general.ini_file:
    path: "/home/{{ vps_username }}/.config/dolphinrc"
    section: "General"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    create: true
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  loop:
    - { option: "ShowFullPath", value: "true" }
    - { option: "FilterBar", value: "true" }
  tags: [kde-opt, ux]

- name: Configure Panel via Plasma Scripting API
  ansible.builtin.command:
    cmd: >
      su - {{ vps_username }} -c "qdbus6 org.kde.plasmashell /PlasmaShell org.kde.PlasmaShell.evaluateScript '
      var p = panels();
      for (var i = 0; i < p.length; i++) {
          if (p[i].location == \"bottom\") {
              p[i].height = 52;
              p[i].alignment = \"center\";
              p[i].floating = true;
              p[i].lengthMode = \"fit\";
          }
      }'"
  changed_when: false
  failed_when: false
  tags: [kde-opt, panel]

- name: Enable Autostart Applications
  ansible.builtin.file:
    src: "/usr/share/applications/{{ item }}"
    dest: "/home/{{ vps_username }}/.config/autostart/{{ item }}"
    state: link
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
  loop: "{{ vps_kde_autostart_apps | default([]) }}"
  when: vps_kde_autostart_apps | default([]) | length > 0
  tags: [kde-opt, autostart]
