---
- name: Install KDE power tools
  ansible.builtin.apt:
    name:
      - kde-config-gtk-style
      - kde-config-sddm
      - kinfocenter
      - partitionmanager
      - ksystemlog
    state: present
  when: vps_install_desktop | default(true)
  tags: [kde-opt, tools]

- name: Deploy Captured KDE Configuration
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/home/{{ vps_username }}/.config/{{ item }}"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  loop:
    - kdeglobals
    - kwinrc
    - kglobalshortcutsrc
    - kcminputrc
    - plasmashellrc
  tags: [kde-opt, config]

- name: Deploy GTK3 Settings
  ansible.builtin.template:
    src: gtk3-settings.ini.j2
    dest: "/home/{{ vps_username }}/.config/gtk-3.0/settings.ini"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  tags: [kde-opt, gtk]

- name: Configure Dolphin (General)
  community.general.ini_file:
    path: "/home/{{ vps_username }}/.config/dolphinrc"
    section: "General"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    create: true
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  loop:
    - { option: "ShowFullPath", value: "true" }
    - { option: "FilterBar", value: "true" }
  tags: [kde-opt, ux]

- name: Enable Autostart Applications
  ansible.builtin.file:
    src: "/usr/share/applications/{{ item }}"
    dest: "/home/{{ vps_username }}/.config/autostart/{{ item }}"
    state: link
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
  loop: "{{ vps_kde_autostart_apps | default([]) }}"
  when: vps_kde_autostart_apps | default([]) | length > 0
  tags: [kde-opt, autostart]
