# XRDP Role - Handlers
---
- name: Restart XRDP
  ansible.builtin.systemd:
    name: xrdp
    state: restarted

- name: Apply sysctl settings
  ansible.builtin.command:
    cmd: sysctl --system
  changed_when: true
