---
- name: Apply KDE optimizations
  become: true
  become_user: "{{ vps_username }}"
  tags: [desktop, optimization]
  block:
    - name: Install Konsave
      community.general.pipx:
        name: konsave
        state: present

    - name: Disable Baloo indexing
      community.general.ini_file:
        path: "/home/{{ vps_username }}/.config/baloofilerc"
        section: "Basic Settings"
        option: "Indexing-Enabled"
        value: "false"
        create: true
        owner: "{{ vps_username }}"
        group: "{{ vps_username }}"
        mode: '0644'

    - name: Enable Dolphin previews
      community.general.ini_file:
        path: "/home/{{ vps_username }}/.config/dolphinrc"
        section: "PreviewSettings"
        option: "Plugins"
        value: "dolphingitplugin,ffmpegthumbs,imagethumbnail,jpegthumbnail,kdegraphics-thumbnailers,svgthumbnail"
        create: true
        owner: "{{ vps_username }}"
        group: "{{ vps_username }}"
        mode: '0644'
