# Development Role - Default Variables
---
# Node.js
vps_development_install_nodejs: true
vps_development_nodejs_version: "lts"
vps_development_npm_global_packages:
  - yarn
  - pnpm
  - typescript
  - ts-node
  - prettier
  - eslint

# Python
vps_development_install_python: true
vps_development_python_pipx_packages:
  - black
  - pylint
  - pytest
  - ipython
  - poetry
  - rich-cli
  - tqdm

# PHP
vps_development_install_php: true
vps_development_php_extensions:
  - curl
  - mbstring
  - xml
  - mysql
  - zip
  - gd
  - intl
  - bcmath
vps_development_install_composer: true
