{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ vps_docker_log_max_size }}",
    "max-file": "{{ vps_docker_log_max_file }}"
  },
  "storage-driver": "{{ vps_docker_storage_driver }}",
  "features": {
    "buildkit": true
  }
}
