[Appearance]
ColorScheme={{ vps_konsole_colorscheme | default('catppuccin-mocha') }}
Font={{ vps_terminal_font | default('Hack Nerd Font Mono') }},{{ default_font_size }},-1,5,50,0,0,0,0,0

[General]
Name=Nordic
Parent=FALLBACK/
Command=/bin/zsh
TerminalColumns=120
TerminalRows=35

[Scrolling]
HistoryMode=2
ScrollBarPosition=2

[Terminal Features]
BlinkingCursorEnabled=true
