[ColorEffects:Disabled]
ChangeSelectionColor=
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
Enable=
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate=30,115,208
BackgroundNormal=101,101,101
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=189,195,199
ForegroundLink=186,202,255
ForegroundNegative=218,68,83
ForegroundNeutral=246,116,0
ForegroundNormal=252,252,252
ForegroundPositive=39,174,96
ForegroundVisited=127,140,141

[Colors:Complementary]
BackgroundAlternate=66,66,66
BackgroundNormal=51,51,51
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=160,160,160
ForegroundLink=186,202,255
ForegroundNegative=237,21,21
ForegroundNeutral=201,206,59
ForegroundNormal=252,252,252
ForegroundPositive=17,209,22
ForegroundVisited=49,91,239

[Colors:Header]
BackgroundAlternate=66,66,66
BackgroundNormal=54,54,54
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=160,160,160
ForegroundLink=186,202,255
ForegroundNegative=237,21,21
ForegroundNeutral=201,206,59
ForegroundNormal=252,252,252
ForegroundPositive=17,209,22
ForegroundVisited=49,91,239

[Colors:Header][Inactive]
BackgroundAlternate=66,66,66
BackgroundNormal=45,45,45
DecorationFocus=49,91,239
DecorationHover=49,91,239
ForegroundActive=246,116,0,150
ForegroundInactive=160,160,160,150
ForegroundLink=49,91,239
ForegroundNegative=237,21,21
ForegroundNeutral=201,206,59
ForegroundNormal=252,252,252,150
ForegroundPositive=17,209,22
ForegroundVisited=49,91,239

[Colors:Selection]
BackgroundAlternate=10,96,189
BackgroundNormal=10,96,189
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=255,255,255
ForegroundLink=186,202,255
ForegroundNegative=218,68,83
ForegroundNeutral=246,116,0
ForegroundNormal=255,255,255
ForegroundPositive=39,174,96
ForegroundVisited=128,152,239

[Colors:Tooltip]
BackgroundAlternate=77,77,77
BackgroundNormal=51,51,51
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=189,195,199
ForegroundLink=186,202,255
ForegroundNegative=218,68,83
ForegroundNeutral=246,116,0
ForegroundNormal=252,252,252
ForegroundPositive=39,174,96
ForegroundVisited=127,140,141

[Colors:View]
BackgroundAlternate=48,48,48
BackgroundNormal=36,36,36
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=160,160,160
ForegroundLink=186,202,255
ForegroundNegative=218,68,83
ForegroundNeutral=246,116,0
ForegroundNormal=252,252,252
ForegroundPositive=39,174,96
ForegroundVisited=120,120,120

[Colors:Window]
BackgroundAlternate=66,66,66
BackgroundNormal=54,54,54
DecorationFocus=0,122,255
DecorationHover=0,122,255
ForegroundActive=0,122,255
ForegroundInactive=160,160,160
ForegroundLink=186,202,255
ForegroundNegative=218,68,83
ForegroundNeutral=246,116,0
ForegroundNormal=252,252,252
ForegroundPositive=39,174,96
ForegroundVisited=120,120,120

[DirSelect Dialog]
DirSelectDialog Size=840,558
History Items[$e]=file:$HOME/vps-rdp-workstation,file:$HOME/vps-rdp-workstation
Splitter State=\x00\x00\x00\xff\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\xa0\x00\x00\x02\xa8\x00\xff\xff\xff\xff\x01\x00\x00\x00\x01\x00

[General]
AccentColor=0,122,255
ColorScheme={{ vps_color_scheme_name | default('WhiteSurDark') }}
ColorSchemeHash=697626961cd3018a86d5d1b6a546c7ac8b282d8c # pragma: allowlist secret
Name={{ vps_color_scheme_name | default('WhiteSurDark') }}
XftAntialias=true
XftHintStyle=hintslight
XftSubPixel=none
activeFont=JetBrainsMono Nerd Font,10,-1,5,600,0,0,0,0,0,Semi-Bold
fixed=FiraCode Nerd Font,10,-1,5,400,0,0,0,0,0,Regular
font={{ vps_gtk_font | default('Source Code Pro Medium,10,-1,5,500,0,0,0,0,0,0,0,0,0,0,1,Regular') }}
menuFont={{ vps_gtk_font | default('SauceCodePro Nerd Font,10,-1,5,400,0,0,0,0,0,Regular') }}
shadeSortColumn=true
smallestReadableFont={{ vps_gtk_font | default('SauceCodePro Nerd Font,8,-1,5,400,0,0,0,0,0,Regular') }}
toolBarFont=JetBrainsMono Nerd Font,10,-1,5,400,0,0,0,0,0,Regular

[Icons]
Theme={{ vps_whitesur_icon_variant | default('WhiteSur-red-dark') }}

[KDE]
AnimationDurationFactor=0
LookAndFeelPackage=com.github.vinceliuice.WhiteSur-dark
contrast=4
widgetStyle=kvantum-dark

[KFileDialog Settings]
Allow Expansion=false
Automatically select filename extension=true
Breadcrumb Navigation=true
Decoration position=2
LocationCombo Completionmode=5
PathCombo Completionmode=5
Show Bookmarks=false
Show Full Path=false
Show Inline Previews=true
Show Preview=false
Show Speedbar=true
Show hidden files=true
Sort by=Name
Sort directories first=true
Sort hidden files last=false
Sort reversed=false
Speedbar Width=160
View Style=DetailTree

[Mouse]
CursorTheme={{ vps_whitesur_cursor_theme | default('WhiteSur-cursors') }}

[WM]
activeBackground=51,51,51
activeBlend=171,171,171
activeForeground=252,252,252
inactiveBackground=66,66,66
inactiveBlend=85,85,85
inactiveForeground=170,170,170
