[kwin]
ShowDesktopGrid=Meta+F8,none,Show Desktop Grid
Switch to Next Desktop=,none,Switch to Next Desktop
Switch to Previous Desktop=,none,Switch to Previous Desktop
Window Close=Alt+F4,Alt+F4,Close Window
Window Maximize=Meta+PgUp,none,Maximize Window
Window Minimize=Meta+PgDown,none,Minimize Window
Window One Desktop Down=Meta+Ctrl+Shift+Down,none,Window One Desktop Down
Window One Desktop to the Left=Meta+Ctrl+Shift+Left,none,Window One Desktop to the Left
Window One Desktop to the Right=Meta+Ctrl+Shift+Right,none,Window One Desktop to the Right
Window One Desktop Up=Meta+Ctrl+Shift+Up,none,Window One Desktop Up
Window Operations Menu=Alt+F3,Alt+F3,Window Operations Menu
Window Pack Down=,none,Move Window Down
Window Pack Left=,none,Move Window Left
Window Pack Right=,none,Move Window Right
Window Pack Up=,none,Move Window Up
Window Quick Tile Bottom=Meta+Down,none,Quick Tile Window to the Bottom
Window Quick Tile Bottom Left=,none,Quick Tile Window to the Bottom Left
Window Quick Tile Bottom Right=,none,Quick Tile Window to the Bottom Right
Window Quick Tile Left=Meta+Left,none,Quick Tile Window to the Left
Window Quick Tile Right=Meta+Right,none,Quick Tile Window to the Right
Window Quick Tile Top=Meta+Up,none,Quick Tile Window to the Top
Window Quick Tile Top Left=,none,Quick Tile Window to the Top Left
Window Quick Tile Top Right=,none,Quick Tile Window to the Top Right
Window to Next Desktop=,none,Window to Next Desktop
Window to Next Screen=,none,Move Window to Next Screen
Window to Previous Desktop=,none,Window to Previous Desktop
Window to Previous Screen=,none,Move Window to Previous Screen
view_actual_size=Meta+0,Meta+0,Zoom to Actual Size
view_zoom_in=Meta+=,Meta+=,Zoom In
view_zoom_out=Meta+-,Meta+-,Zoom Out

[org.kde.dolphin.desktop]
_k_friendly_name=Dolphin
_launch=Meta+E,Meta+E,Dolphin

[org.kde.konsole.desktop]
_k_friendly_name=Konsole
_launch=Ctrl+Alt+T,Ctrl+Alt+T,Konsole

[org.kde.krunner.desktop]
_k_friendly_name=KRunner
_launch=Alt+Space,Alt+Space,Search
RunClipboard=,Alt+Shift+F2,Run command on clipboard contents
