[General]
FreeFloating=true
HistoryEnabled=true
ActivateWhenTyping=true

[Plugins]
activityEnabled=true
applicationsEnabled=true
bookmarksEnabled=false
calculatorEnabled=true
krunner_appstreamEnabled=false
krunner_chmEnabled=false
krunner_dictionariesEnabled=true
krunner_killEnabled=true
krunner_konsoleprofilesEnabled=false
krunner_missingpackageEnabled=false
krunner_placesrunnerEnabled=true
krunner_powerdevilEnabled=true
krunner_recentdocumentsEnabled=true
krunner_servicesEnabled=true
krunner_sessionsEnabled=true
krunner_shellEnabled=true
krunner_spellcheckEnabled=false
krunner_webshortcutsEnabled=true
krunner_windowsEnabled=true
krunner_windowswitcherEnabled=true
locationsEnabled=true
org.kde.activitiesEnabled=true
org.kde.windowedwidgetsEnabled=false
placesEnabled=true
recentdocumentsEnabled=true
servicesEnabled=true
shellEnabled=true
unitconverterEnabled=true
webshortcutsEnabled=true
windowsEnabled=true
