[Compositing]
AnimationSpeed=0
LatencyPolicy=ForceLowestLatency

[Desktops]
Id_1=b5e2f95d-47a3-4f67-9903-1264a28be281
Number=1
Rows=1

[Effect-Cube]
BorderActivate=9
BorderActivateCylinder=9
BorderActivateSphere=9
TouchBorderActivate=9
TouchBorderActivateCylinder=9
TouchBorderActivateSphere=9

[Effect-DesktopGrid]
BorderActivate=9
TouchBorderActivate=9

[Effect-PresentWindows]
BorderActivate=9
BorderActivateAll=9
BorderActivateClass=9
TouchBorderActivate=9
TouchBorderActivateAll=9
TouchBorderActivateClass=9

[ElectricBorders]
Bottom=None
BottomLeft=None
BottomRight=None
Left=None
Right=None
Top=None
TopLeft=None
TopRight=None

[MouseBindings]
CommandAllKey=Meta
CommandWindow1=Activate, raise and pass click
CommandWindow2=Activate, raise and pass click
CommandWindow3=Activate, raise and pass click
CommandWindowWheel=Scroll

[Plugins]
blurEnabled=false
diminactiveEnabled=true
fallapartEnabled=true
kwin4_effect_dimscreenEnabled=true

[TabBox]
BorderActivate=9
BorderAlternativeActivate=9
TouchBorderActivate=9
TouchBorderAlternativeActivate=9

[Tiling]
padding=4

[Tiling][7672d168-2ff3-5755-8864-62ce0326032c]
tiles={"layoutDirection":"horizontal","tiles":[{"width":0.25},{"width":0.5},{"width":0.25}]}

[TouchEdges]
Bottom=None
Left=None
Right=None
Top=None

[Windows]
BorderlessMaximizedWindows=true

[org.kde.kdecoration2]
BorderSize=Normal
ButtonsOnLeft=MF
ButtonsOnRight=IAX
CloseOnDoubleClickOnMenu=false
ShowToolTips=false
