# Managed by Ansible - Plasma Style (Balanced Beauty)

[OSD]
Enabled=false

[Theme]
name=WhiteSur-dark

[Wallpapers]
usersWallpapers=/home/{{ vps_username }}/.local/share/backgrounds/Monterey-dark.jpg
