Net/ThemeName "{{ vps_gtk_theme | default('WhiteSur-Dark') }}"
Net/IconThemeName "{{ vps_whitesur_icon_variant | default('WhiteSur-red-dark') }}"
Gtk/CursorThemeName "{{ vps_whitesur_cursor_theme | default('WhiteSur-cursors') }}"
Net/SoundThemeName "ocean"
Gtk/FontName "{{ vps_gtk_font | default('SauceCodePro Nerd Font 10') }}"
Gtk/CursorThemeSize 24
Gdk/UnscaledDPI 98304
Gdk/WindowScalingFactor 1
Gtk/EnableAnimations 1
Gtk/DecorationLayout "close,minimize,maximize:"
Gtk/PrimaryButtonWarpsSlider 1
Gtk/ToolbarStyle 3
Gtk/MenuImages 1
Gtk/ButtonImages 1
Xft/Antialias 1
Xft/Hinting 1
Xft/HintStyle "hintslight"
Xft/RGBA "rgb"
