Gdk/UnscaledDPI 98304
Gdk/WindowScalingFactor 1
Gtk/EnableAnimations 0
Gtk/DecorationLayout "close,minimize,maximize,icon:"
Net/ThemeName "{{ vps_gtk_theme | default('WhiteSur-Dark-alt-nord') }}"
Gtk/PrimaryButtonWarpsSlider 1
Gtk/ToolbarStyle 3
Gtk/MenuImages 1
Gtk/ButtonImages 1
Gtk/CursorThemeSize 24
Gtk/CursorThemeName "{{ vps_whitesur_cursor_theme | default('WhiteSur-cursors') }}"
Net/SoundThemeName "ocean"
Net/IconThemeName "{{ vps_whitesur_icon_variant | default('WhiteSur-dark') }}"
Gtk/FontName "{{ vps_gtk_font | default('Inter, 10') }}"
