[General]
snippetfile = "/home/{{ vps_username }}/.config/pet/snippet.toml"
editor = "code"
column = 40
selectcmd = "fzf --ansi --layout=reverse --border"
backend = "pet"
sortby = "recency"

[Gist]
# Disabled for privacy
auto_sync = false
