gtk-enable-animations=0
gtk-theme-name="{{ vps_gtk_theme | default('catppuccin-mocha-blue-standard+default') }}"
gtk-primary-button-warps-slider=1
gtk-toolbar-style=3
gtk-menu-images=1
gtk-button-images=1
gtk-cursor-theme-size=24
gtk-cursor-theme-name="{{ vps_cursor_theme | default('catppuccin-mocha-blue-cursors') }}"
gtk-sound-theme-name="ocean"
gtk-icon-theme-name="{{ vps_icon_theme | default('Papirus-Dark') }}"
gtk-font-name="{{ vps_system_font | default('JetBrainsMono Nerd Font') }}, {{ default_font_size | default(10) }}"
