<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">
<fontconfig>
  <alias>
    <family>monospace</family>
    <prefer>
      <family>SauceCodePro Nerd Font</family>
      <family>JetBrainsMono Nerd Font</family>
      <family>FiraCode Nerd Font</family>
      <family>Hack Nerd Font</family>
      <family>MesloLGS NF</family>
      <family>Cascadia Code NF</family>
      <family>Noto Color Emoji</family>
    </prefer>
  </alias>
</fontconfig>
