# Fonts Role - Default Variables
---
vps_fonts_install_nerd_fonts: true
vps_fonts_install_powerline_fonts: true
vps_fonts_default_monospace_font: "JetBrainsMono Nerd Font"
vps_fonts_default_font_size: 11
