# Editors Role - Default Variables
---
install_vscode: true
vscode_extensions:
  - esbenp.prettier-vscode
  - dbaeumer.vscode-eslint
  - ms-python.python
  - ms-python.vscode-pylance
  - bmewburn.vscode-intelephense-client
  - eamodio.gitlens
  - rangav.vscode-thunder-client
  - pkief.material-icon-theme
  - equinusocio.vsc-material-theme
  - github.copilot
  - github.copilot-chat

install_opencode: true
install_antigravity: false  # Disabled by default - not publicly available
