# Editors Role - Default Variables
---
vps_editors_install_vscode: true
vps_editors_vscode_extensions:
  - esbenp.prettier-vscode
  - dbaeumer.vscode-eslint
  - ms-python.python
  - ms-python.vscode-pylance
  - bmewburn.vscode-intelephense-client
  - eamodio.gitlens
  - rangav.vscode-thunder-client
  - pkief.material-icon-theme
  - equinusocio.vsc-material-theme
  - github.copilot
  - github.copilot-chat
  - continue.continue
  - codeium.codeium
  - tabnine.tabnine-vscode

vps_editors_install_opencode: true
vps_editors_install_antigravity: false  # Disabled by default - not publicly available
