---
- name: Install dependencies (git, gtk-update-icon-cache)
  ansible.builtin.apt:
    name:
      - git
      - gtk-update-icon-cache
    state: present
  tags: [whitesur-icons, dependencies]

- name: Clone WhiteSur-icon-theme repository
  ansible.builtin.git:
    repo: "{{ vps_whitesur_icon_repo }}"
    dest: "/tmp/WhiteSur-icon-theme"
    version: "{{ vps_whitesur_icon_version }}"
    force: true
  tags: [whitesur-icons, download]

- name: Install WhiteSur Icon Theme (install.sh)
  ansible.builtin.command:
    cmd: "./install.sh -n WhiteSur -t {{ vps_whitesur_icon_theme }} {{ '-a' if vps_whitesur_icon_alternative else '' }} {{ '-b' if vps_whitesur_icon_bold else '' }}"
    chdir: "/tmp/WhiteSur-icon-theme"
  become: false
  become_user: "{{ vps_username }}"
  register: whitesur_icon_install
  changed_when: "'Installing' in whitesur_icon_install.stdout"
  tags: [whitesur-icons, install]

- name: Set Plasma Icon Theme to {{ vps_whitesur_icon_variant }}
  community.general.ini_file:
    path: "/home/{{ vps_username }}/.config/kdeglobals"
    section: "Icons"
    option: "Theme"
    value: "{{ vps_whitesur_icon_variant }}"
    owner: "{{ vps_username }}"
    group: "{{ vps_username }}"
    mode: '0644'
  tags: [whitesur-icons, config]

- name: Cleanup temporary files
  ansible.builtin.file:
    path: "/tmp/WhiteSur-icon-theme"
    state: absent
  tags: [whitesur-icons, cleanup]
