# XRDP Role - Remote Desktop Protocol Server
---
- name: Execute XRDP role tasks
  block:
    - name: Install XRDP and dependencies
      ansible.builtin.apt:
        name:
          - xrdp
          - xorgxrdp
          - xserver-xorg-legacy
          - ssl-cert
          - dbus-x11
        state: present
      tags: [xrdp, packages]

    - name: Add xrdp user to ssl-cert group
      ansible.builtin.user:
        name: xrdp
        groups: ssl-cert
        append: true
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Check status of XRDP SSL key
      ansible.builtin.stat:
        path: /etc/xrdp/key.pem
      register: xrdp_key_stat
      tags: [xrdp, config]

    - name: Remove XRDP SSL key if it is a symlink
      ansible.builtin.file:
        path: /etc/xrdp/key.pem
        state: absent
      when: xrdp_key_stat.stat.islnk is defined and xrdp_key_stat.stat.islnk
      tags: [xrdp, config]

    - name: Check status of XRDP SSL cert
      ansible.builtin.stat:
        path: /etc/xrdp/cert.pem
      register: xrdp_cert_stat
      tags: [xrdp, config]

    - name: Remove XRDP SSL cert if it is a symlink
      ansible.builtin.file:
        path: /etc/xrdp/cert.pem
        state: absent
      when: xrdp_cert_stat.stat.islnk is defined and xrdp_cert_stat.stat.islnk
      tags: [xrdp, config]

    - name: Generate self-signed XRDP certificate and private key
      ansible.builtin.shell: |
        openssl req -x509 -newkey rsa:4096 -nodes -keyout /etc/xrdp/key.pem -out /etc/xrdp/cert.pem -days 3650 -subj "/C=US/ST=Dev/L=Lab/O=XRDP/CN={{ ansible_hostname }}"
      args:
        creates: /etc/xrdp/key.pem
      notify: Restart XRDP
      tags: [xrdp, config, security]

    - name: Ensure correct permissions for XRDP private key
      ansible.builtin.file:
        path: /etc/xrdp/key.pem
        owner: root
        group: xrdp
        mode: '0440'
      tags: [xrdp, config, security]

    - name: Ensure correct permissions for XRDP certificate
      ansible.builtin.file:
        path: /etc/xrdp/cert.pem
        owner: root
        group: xrdp
        mode: '0644'
      tags: [xrdp, config, security]

    - name: Enable UDP in xrdp.ini
      ansible.builtin.template:
        src: xrdp.ini.j2
        dest: /etc/xrdp/xrdp.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config, network]

    - name: Configure startwm.sh to launch KDE Plasma
      ansible.builtin.template:
        src: startwm.sh.j2
        dest: /etc/xrdp/startwm.sh
        owner: root
        group: root
        mode: '0755'
      notify: Restart XRDP
      tags: [xrdp, config, session]

    - name: Allow any user to login (Disable group checks)
      ansible.builtin.template:
        src: sesman.ini.j2
        dest: /etc/xrdp/sesman.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config, security]

    - name: Allow non-root users to start Xorg (Xwrapper)
      ansible.builtin.lineinfile:
        path: /etc/X11/Xwrapper.config
        regexp: "^{{ item.key }}="
        line: "{{ item.key }}={{ item.value }}"
        create: true
        mode: '0644'
      loop:
        - { key: 'allowed_users', value: 'anybody' }
        - { key: 'needs_root_rights', value: 'no' }
      notify: Restart XRDP
      tags: [xrdp, config, permissions]

    - name: Enable and start XRDP service
      ansible.builtin.systemd:
        name: xrdp
        enabled: true
        state: started
      ignore_errors: "{{ ansible_check_mode }}"
      tags: [xrdp, service]

  rescue:
    - name: Log XRDP role failure
      ansible.builtin.fail:
        msg: "CRITICAL FAILURE in XRDP Role: {{ ansible_failed_result.msg | default('Unknown error') }}"
      tags: [xrdp]
