# XRDP Role - Remote Desktop Protocol Server
---
- name: XRDP Role Tasks
  block:
    - name: Install XRDP and dependencies
      ansible.builtin.apt:
        name:
          - xrdp
          - xorgxrdp
          - xserver-xorg-legacy
          - ssl-cert
          - dbus-x11
        state: present
      tags: [xrdp, packages]

    - name: Add xrdp user to ssl-cert group
      ansible.builtin.user:
        name: xrdp
        groups: ssl-cert
        append: true
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Check status of XRDP SSL key
      ansible.builtin.stat:
        path: /etc/xrdp/key.pem
      register: xrdp_key_stat
      tags: [xrdp, config]

    - name: Remove XRDP SSL key if it is a symlink
      ansible.builtin.file:
        path: /etc/xrdp/key.pem
        state: absent
      when: xrdp_key_stat.stat.islnk is defined and xrdp_key_stat.stat.islnk
      tags: [xrdp, config]

    - name: Check status of XRDP SSL cert
      ansible.builtin.stat:
        path: /etc/xrdp/cert.pem
      register: xrdp_cert_stat
      tags: [xrdp, config]

    - name: Remove XRDP SSL cert if it is a symlink
      ansible.builtin.file:
        path: /etc/xrdp/cert.pem
        state: absent
      when: xrdp_cert_stat.stat.islnk is defined and xrdp_cert_stat.stat.islnk
      tags: [xrdp, config]

    - name: Generate self-signed XRDP certificate and private key
      ansible.builtin.shell: |
        openssl req -x509 -newkey rsa:2048 -nodes -keyout /etc/xrdp/key.pem -out /etc/xrdp/cert.pem -days 3650 -subj "/C=US/ST=Dev/L=Lab/O=XRDP/CN={{ ansible_hostname }}"
        openssl rsa -in /etc/xrdp/key.pem -out /etc/xrdp/key.pem -traditional
      args:
        creates: /etc/xrdp/key.pem
      notify: Restart XRDP
      tags: [xrdp, config, security]

    - name: Ensure correct permissions for XRDP private key
      ansible.builtin.file:
        path: /etc/xrdp/key.pem
        owner: root
        group: ssl-cert
        mode: '0640'
      tags: [xrdp, config, security]

    - name: Ensure correct permissions for XRDP certificate
      ansible.builtin.file:
        path: /etc/xrdp/cert.pem
        owner: root
        group: ssl-cert
        mode: '0644'
      tags: [xrdp, config, security]

    - name: Configure xrdp.ini
      ansible.builtin.template:
        src: xrdp.ini.j2
        dest: /etc/xrdp/xrdp.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure sesman.ini
      ansible.builtin.template:
        src: sesman.ini.j2
        dest: /etc/xrdp/sesman.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure startwm.sh
      ansible.builtin.template:
        src: startwm.sh.j2
        dest: /etc/xrdp/startwm.sh
        owner: root
        group: root
        mode: '0755'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure Xwrapper to allow remote Xorg sessions
      ansible.builtin.template:
        src: Xwrapper.config.j2
        dest: /etc/X11/Xwrapper.config
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config, fix]

    - name: Deploy Polkit rule for color management (fix popup/black screen)
      ansible.builtin.template:
        src: 45-allow-colord.rules.j2
        dest: /etc/polkit-1/rules.d/45-allow-colord.rules
        owner: root
        group: root
        mode: '0644'
      tags: [xrdp, config, fix]

    - name: Deploy TCP tuning for XRDP performance
      ansible.builtin.template:
        src: 99-xrdp-tcp-tuning.conf.j2
        dest: /etc/sysctl.d/99-xrdp-tcp-tuning.conf
        owner: root
        group: root
        mode: '0644'
      notify: Apply sysctl settings
      tags: [xrdp, config, performance]

    - name: Enable and start XRDP service
      ansible.builtin.systemd:
        name: xrdp
        enabled: true
        state: started
      ignore_errors: "{{ ansible_check_mode }}"
      tags: [xrdp, service]

  rescue:
    - name: Log XRDP role failure
      ansible.builtin.fail:
        msg: "CRITICAL FAILURE in XRDP Role: {{ ansible_failed_result.msg | default('Unknown error') }}"
      tags: [xrdp]
