# XRDP Role - Remote Desktop Protocol Server
---
- name: XRDP Role Tasks
  block:
    - name: Install XRDP and dependencies
      ansible.builtin.apt:
        name:
          - xrdp
          - xorgxrdp
          - xserver-xorg-legacy
          - ssl-cert
          - dbus-x11
        state: present
      tags: [xrdp, packages]

    - name: Add xrdp user to ssl-cert group
      ansible.builtin.user:
        name: xrdp
        groups: ssl-cert
        append: true
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure xrdp.ini
      ansible.builtin.template:
        src: xrdp.ini.j2
        dest: /etc/xrdp/xrdp.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure sesman.ini
      ansible.builtin.template:
        src: sesman.ini.j2
        dest: /etc/xrdp/sesman.ini
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure startwm.sh
      ansible.builtin.template:
        src: startwm.sh.j2
        dest: /etc/xrdp/startwm.sh
        owner: root
        group: root
        mode: '0755'
      notify: Restart XRDP
      tags: [xrdp, config]

    - name: Configure Xwrapper to allow remote Xorg sessions
      ansible.builtin.template:
        src: Xwrapper.config.j2
        dest: /etc/X11/Xwrapper.config
        owner: root
        group: root
        mode: '0644'
      notify: Restart XRDP
      tags: [xrdp, config, fix]

    - name: Deploy Polkit rule for color management (fix popup/black screen)
      ansible.builtin.template:
        src: 45-allow-colord.rules.j2
        dest: /etc/polkit-1/rules.d/45-allow-colord.rules
        owner: root
        group: root
        mode: '0644'
      tags: [xrdp, config, fix]

    - name: Deploy TCP tuning for XRDP performance
      ansible.builtin.template:
        src: 99-xrdp-tcp-tuning.conf.j2
        dest: /etc/sysctl.d/99-xrdp-tcp-tuning.conf
        owner: root
        group: root
        mode: '0644'
      notify: Apply sysctl settings
      tags: [xrdp, config, performance]

    - name: Enable and start XRDP service
      ansible.builtin.systemd:
        name: xrdp
        enabled: true
        state: started
      ignore_errors: "{{ ansible_check_mode }}"
      tags: [xrdp, service]

  rescue:
    - name: Log XRDP role failure
      ansible.builtin.fail:
        msg: "CRITICAL FAILURE in XRDP Role: {{ ansible_failed_result.msg | default('Unknown error') }}"
      tags: [xrdp]
