# Security Role - Handlers
---
- name: Restart SSH
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart Fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
  ignore_errors: true

- name: Reload UFW
  community.general.ufw:
    state: reloaded
